*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  max-width: 1140px;
  max-height: 534px;
}

.result__video-container {
  position: relative;
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
  padding: 0;
  cursor: pointer;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 18px;
  font-weight: 400;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  display: flex;
  width: fit-content;
  margin-top: 5px;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  font-family: inherit;
  font-size: 18px;
  color: inherit;
  width: 225px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  appearance: none;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.button {
  appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 34px;
  cursor: pointer;
}

.search-form__submit-button {
  margin-top: 20px;
  width: 194px;
}

.more-button {
  width: 100%;
}

.content__details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 94%;
  font-weight: 700;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow: auto;
}

.content__list .content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  color: inherit;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
  max-height: 103px;
}

.content__video-card-description-container {
  width: 100%;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  line-height: 90%;
  font-weight: 400;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: cover;
}
